/cache
/cache_b1
/cache_b2
/Knowledge_Base
.env
highschool-rag-pipeline-108775e04702.json
MATH_Grade10_Semester2_QTR_AR.pdf

ragkit/__pycache__
ragkit/chunk/__pycache__
ragkit/extract/__pycache__
experiments/__pycache__