/cache
/cache_b1
/cache_b2
/Knowledge_Base
.env
credentials*.json
textbook-s2.pdf
*.xlsx
*.csv
/judge_eval

ragkit/__pycache__
ragkit/judge/__pycache__
ragkit/qa/__pycache__
ragkit/retrieval/__pycache__
ragkit/chunk/__pycache__
ragkit/extract/__pycache__
experiments/__pycache__
qa_dataset/
retrieval_eval
documentation.md